In [2]:
# pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     ---- -------------------------------- 30.7/250.0 kB 435.7 kB/s eta 0:00:01
     -------------- ------------------------ 92.2/250.0 kB 1.0 MB/s eta 0:00:01
     -------------------------------------  245.8/250.0 kB 1.9 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 1.7 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

In [3]:
d=pd.read_excel("C:/Users/user/Final Project/원데이터/nurse.xlsx", header =None)

In [4]:
d

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,지역별종별_의료인력현황_간호사등(단위_명)_2023년3분기,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,인력코드상위,간호사,간호사,간호사,간호사,간호사,간호사,간호조무사,임상병리사,...,동위원소취급자(일반),동위원소취급자(특수),방사선취급감독자,영양사,조리사,조혈모세포이식담당자,안경사,기타종사자,정신건강전문요원계,정신건강작업치료사
3,시도,요양기관종별,간호사계,간호사,가정전문간호사,보건전문간호사,마취전문간호사,정신전문간호사,간호조무사,임상병리사,...,동위원소취급자(일반),동위원소취급자(특수),방사선취급감독자,영양사,조리사,조혈모세포이식담당자,안경사,기타종사자,정신건강전문요원계,정신건강작업치료사
4,세종,계,1098,1097,-,-,-,1,1051,114,...,8,1,-,23,20,-,10,436,4,-
5,세종,종합병원,787,787,-,-,-,-,26,58,...,4,1,-,7,4,-,1,178,1,-
6,세종,병원,73,73,-,-,-,-,32,6,...,4,-,-,3,4,-,-,23,-,-
7,세종,요양병원,38,38,-,-,-,-,55,1,...,-,-,-,6,6,-,-,9,-,-
8,세종,정신병원,6,6,-,-,-,0,9,0,...,-,-,-,1,1,-,-,14,1,-
9,세종,의원,120,120,-,-,-,0,667,46,...,0,-,-,3,3,-,9,168,2,-
10,세종,치과병원,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
11,세종,치과의원,2,2,-,-,-,-,75,-,...,-,-,-,-,-,-,-,14,-,-
12,세종,보건소,17,16,-,-,-,1,0,1,...,-,-,-,-,-,-,-,-,-,-
13,세종,보건지소,3,3,-,-,-,-,17,-,...,-,-,-,-,-,-,-,-,-,-
14,세종,보건진료소,7,7,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
15,세종,한방병원,36,36,-,-,-,-,13,2,...,0,-,-,3,2,-,-,26,-,-
16,세종,한의원,9,9,-,-,-,-,157,-,...,-,-,-,-,-,-,-,4,-,-

In [5]:
df=d.iloc[4:,1:3]
df=df.rename(columns=df.iloc[0])  
df.columns=['type','n_count']              # 컬럼명 변경 
df.insert(0, 'num', list(range(1, 14)))  # 컬럼 추가 및 숫자 추가
df

    num   type n_count
4     1      계    1098
5     2   종합병원     787
6     3     병원      73
7     4   요양병원      38
8     5   정신병원       6
9     6     의원     120
10    7   치과병원       -
11    8   치과의원       2
12    9    보건소      17
13   10   보건지소       3
14   11  보건진료소       7
15   12   한방병원      36
16   13    한의원       9

In [16]:
df.dtypes

num         int64
type       object
n_count    object
dtype: object

In [17]:
# 하이픈 0로 변경
df=df.replace(to_replace={'-':'0'})
df

    num   type n_count
4     1      계    1098
5     2   종합병원     787
6     3     병원      73
7     4   요양병원      38
8     5   정신병원       6
9     6     의원     120
10    7   치과병원       0
11    8   치과의원       2
12    9    보건소      17
13   10   보건지소       3
14   11  보건진료소       7
15   12   한방병원      36
16   13    한의원       9

In [18]:
# count object에서 int 형태로 변환
df['n_count'] = df['n_count'].astype('int')
print(df.dtypes)

num         int64
type       object
n_count     int32
dtype: object

In [19]:
df.to_csv("C:/Users/user/Final Project/csv/nurse.csv", index = False)